<%- include('../partials/header.ejs') %>
    
<div class="jumbotron">
    <h1 id="page-title">ALL RACQUETS</h1>
    <hr class="my-4">
    <p class="lead">A list of all racquets cataloged on the website, organized by manufacturer</p>
</div>

<main>
    <div class="card-deck">
        <% racquets.forEach(r => { %>
            
            <div class="card" style="width: 25rem;">
                
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h4 class="card-title"><%= r.model %> <%= r.releaseYear %></h4>
                        <div id="racquet-img">
                            <a href="/racquets/<%= r._id %>"><img class="card-img-top" src="<%= r.img %>" alt="Racquet Picture"></a>
                        </div>
                    </li>
                    <li class="list-group-item"><img class="info-img" src="https://www.perfect-tennis.com/wp-content/themes/tennis-theme/assets/images/icon-headsize.svg" alt=""> Head Size: <%= r.headSize %> sq. in.</li>
                    <li class="list-group-item"><img class="info-img" src="https://www.perfect-tennis.com/wp-content/themes/tennis-theme/assets/images/icon-string-pattern.svg" alt=""> String Pattern: M: <%= r.mains %> | C: <%= r.crosses %></li>
                    <li class="list-group-item"><img class="info-img" src="https://www.perfect-tennis.com/wp-content/themes/tennis-theme/assets/images/icon-power.svg" alt=""> Power: <%= r.power %></li>
                    <li class="list-group-item"><img class="info-img" src="https://www.perfect-tennis.com/wp-content/themes/tennis-theme/assets/images/icon-strungweight.svg" alt=""> Weight: <%= r.weight %> grams</li>
                    <li class="card-text list-group-item"> Description: <br><%= r.shortDescription %></li>
                    <li class="list-group-item"><a class="btn btn-primary" href="/racquets/<%= r._id %>">Details</a></li>
                </ul>
            </div>
        <% }) %>
    </div>


</main>

<%- include('../partials/footer.ejs') %>